@charset "UTF-8";

a {
	text-decoration-line: none;
}
 
.frame {
	text-align: center;
}

.best_product,
.frame,
.text-center {
	padding: 5px 15px;
	margin-right: auto;
	margin-left: auto;
	overflow-x: hidden;
 }
 
ul li {
	list-style-type: none; 
	float: left; 
	text-align:center;
}

@media (min-width: 768px) {
  hr,
  .best_product,
  .frame,
  text-center {
    width: 750px;
  }
}

@media (min-width: 992px) {
  hr,
  .best_product,
  .frame,
  text-center {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  hr,
  .best_product,
  .frame,
  text-center {
    width: 1170px;
  }
}
 
.best_product ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.best_product li {
	display: inline-block;
	margin: 0;
	padding: 6px;
	border: 0;
	float: left;
}

.topmenu {
	position: sticky;
	top: 0px;
	width: 100%;
	height: 60px;
	background: white;
	font-size: 14px;
	font-weight: bold;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
  .topmenu {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .topmenu {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .topmenu {
    width: 1170px;
  }
}

.topmenu a:hover {
	color: #c0c0c0;
}

.topmenu input {
	outline: none;
}

.topmenu button {
	border: 0px;
	outline: none;
	float: right;
	color: #fff;
  	background-color: #337ab7;
  	border-color: #2e6da4;
}

.menu {
	position: sticky;
	top: 40px;
	width: 100%;
	height: 50px;
	background: white;
	margin-left: -30px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
  .menu {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .menu {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .menu {
    width: 1170px;
  }
}

.menu ul {
	width: 500px;
	margin: 0 auto;
	text-align:center;
}

.menu ul li {
	list-style: none;
	width: 20%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	position: relative;
	display:inline-block;
}

.menu ul li:hover .sub {
	display: block;
}

.menu ul li a {
	display: block;
}

.menu ul li a:hover {
	color: #c0c0c0;
}

.menu .sub {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	display: none;
	float: left;
}

.menu .sub li {
	right: 40%;
	width: 100%;
	background: white;
	font-size: 12px;
}

.menu .sub li a:hover {
	background: #c0c0c0;
	color: black;
	width: 100%
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn2 {
  display: inline-block;
  padding: 0px 4.5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

table:not(.pull-right) {
    text-indent: initial;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.table > thead > tr > th,
.table > thead > tr > td {
	padding: 8px;
	line-height: 1.5;
	vertical-align: top;
	border-top: 1px solid #ddd;
	border-bottom: 2px;
  }

.table > tbody > tr > td {
 	padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
 }
 
.table > tbody > tr:nth-child(even){
	background-color:#f8f8f8;
	color:#000000;
}

.table > tbody > tr:nth-child(odd){
	background-color:#ffffff;
	color:#000000;
}

.pull-right {
    float: right !important;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text-center {
  text-align: center;
}

.pagination {
  text-align: center;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-control {
  display: block;
  width: 97.8%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.imgArea {
	width: 50%;
	float: left;
    width: 55%;
    padding: 0 20px 0 15px;
    box-sizing: border-box;
}

@media (min-width: 1280px) {
.imgAera {
    width: 620px;
  }
}

.infoArea {
	width: 460px;
	float: right;
    width: 45%;
    padding: 0 15px;
    box-sizing: border-box;
}

@media (min-width: 1280px) {
.infoArea {
    width: 400px;
  }
}